{% extends 'base.html.twig' %}

{% block body %}
    <main class="wrapper wrapper_post ">
    {% include 'shared/aside.html.twig' %}
        <div class="content new_post_content">
            <h1 class="about_title">Create new Post</h1>

            {{ include('post/_form.html.twig') }}
        </div>
    </main>
{% endblock %}