{% block aside %}
<aside>
    <ul>
        <li><a href="/post">Post</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/settings">Settings</a></li>
    </ul>
</aside>
{% endblock %}